<div class="brand">
  <div id="logoContainer">
  </div>
  <div class="textHeader">
    <div class="escuro">
      <div id="titleHeader" class="textAlig">Instituto Criança Crescer</div>
      <div id="titleHeaderSec" class="textAlig">Canchungo, Guine Bissau - Africa</div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color: #b3cbdd;">
  <a class="navbar-brand" href="#">I C C Bissau</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reactive-search">Reactive Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/policies">Policies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/policy-create">Policy-create</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/list">Admin</a>
      </li>
    </ul>
  </div>
  <div *ngIf="authService.isLoggedIn; then loggedIn else loggedOut"></div>

  <ng-template #loggedIn class="navbar-nav">
    <a  class="nav-link logout-icon" (click)="authService.logout()">
      <bi name="power" class="big fill-white"></bi>Logout
    </a>
  </ng-template>
  <ng-template #loggedOut class="navbar-nav">
    <a  class="nav-link logout-icon" routerLink="/admin/login">
      <bi name="power" class="big fill-white"></bi>Login
    </a>
  </ng-template>
</nav>
