.thumbnail {
  padding: 5px 0 0 7px;
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 35px;
}

.thumbnail p {
  margin-bottom: 0.5rem !important;
}

button, select {
  font-size: 14px !important;
  color: #555;
  margin-bottom: 5px;
}

button:active {
  background-color: yellow;
}

